<% @user ||= current_user %>
<div class="stats">
  <label class = "label=auto">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    <strong>
      <%= link_to t("following"), following_user_path(@user) %>
    </strong>
  </label>
  <label class = "label-auto">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    <strong>
      <%= link_to t("followers"), followers_user_path(@user) %>
    </strong>
  </label>
</div>
