<div class="row">
  <div class="col-sm-1">
    <%= f.radio_button :answer_id, answer.id,
      disabled: @lesson.finished %>
  </div>
  <div class="col-sm-4">
    <% if @lesson.finished && f.object.answer == answer %>
      <span class="<%= answer.is_correct ? "text-success":
        "text-danger" %>">
        <%= answer.content %>
      </span>
    <% else %>
      <%= answer.content %>
    <% end %>
  </div>
</div>
