<tr>
  <td class="course-name">
    <%= course.name %>
  </td>
  <td class="course-description">
    <%= course.description %>
  </td>
  <td>
    <%= link_to t("start"), course_path(course), class: "btn btn-primary" %>
  </td>
</tr>
