<% provide :title, t("_course") %>
<div class="row">
  <aside class="col-md-4">
    <section class="course">
      <p>
        <%= t "name" %>: <%= @course.name %></br>
        <%= t "description" %>: <%= @course.description %>
      </p>
    </section>
  </aside>
</div>
